html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: getColour(background-color);
}

.wrapper {
  flex: 1 0 auto;
}

main {
  background-color: #e5e5e5;
}

.container {
  max-width: 960px;
}
