.col-md {
  margin-bottom: 20px;
}

.row {
  --bs-gutter-y: 1.5rem;
}

.card {
  height: 18rem;
  @include button-border(20px);
  background-color: getColour(fill-color);

  &.card--border {
    border-color: getColour(primary);
  }

  &.card--fill {
    background-color: getColour(primary);
  }
}
