.footer {
  background-color: white;
}

.footer__item {
  color: getColour(text-link);
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
